.contact-input {
  width: 100%;
  margin: auto;
  max-width: 850px;
}

.contact-input__form {
  margin: 0 auto;
  padding: 50px;
}

.contact-input__container {
  margin-bottom: 20px;
}

.contact-input__label {
  @include font-size-responsive;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}

.contact-input__input {
  @include font-size-responsive;
  background-color: $white;
  border: 0;
  border-bottom: 1px dashed $grey;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  height: 30px;
  margin-left: 10px;
  max-height: 175px;
  width: 60%;
  vertical-align: baseline;
}

.contact-input__next {
  border: 1px solid $primary;
  color: $blue2;
  margin-left: 5px;
  padding: 0 4px;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.contact-input__next:hover,
.contact-input__next:active,
.contact-input__next:focus {
  background-color: $primary;
  color: $white;
}

.contact-input__submit {
  margin-left: 10px;
}
