.contact-pic {
  align-items: center;
  background-image: url('../img/dummy.jpg');
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 60%;
  transition: height 1s ease-out;
  width: 100%;
}

.concact-pic--big {
  height: 100%;
}

.contact-pic__container {
  background: $white;
  border-radius: 3px;
  margin: 0 20px 50%;
  max-width: 500px;
  padding: 25px 30px;

  @include media('>small') {
    margin-left: 10%;
  }
}

.contact-pic__title {
  @include heading-beta;
  margin-bottom: 10px;
}

.contact-pic__text {
  @include font-size-responsive;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}
