.contact-pic {
  align-items: center;
  background-image: url('../img/thibault-jan-beyer-outisde.jpg');
  background-position: 0% 50%;
  background-size: cover;
  display: flex;
  height: 60vh;
  margin: auto;
  max-width: 850px;
  min-height: 300px;
  transition: height 2s 0.5s ease-out;
  width: 100%;

  @include media('>large') {
    background-position: 25% 50%;
  }

  @include media('>xlarge') {
    background-position: 50% 50%;
  }
}

.concact-pic--big {
  height: 100vh;
}

.contact-pic__container {
  background-color: $white;
  max-width: 50%;
  padding: 25px 30px;

  @include media('>medium') {
    margin: 0 20px;
    max-width: 35%;
  }
}

.contact-pic__title {
  @include heading-beta;
  display: inline;
}

.contact-pic__livename {
  @include heading-beta;
  display: inline;
  margin-left: 10px;
}

.contact-pic__text {
  @include font-size-responsive;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}
