/*
 * 1. unnescessary, only to make 100% sure that everything else is hidden below
 */
.more-works {
  background: $white; /* 1. */
  height: 100%;
  position: fixed;
  top: 0;
  transform: translate3d(0, 0, 0);
  transition: transform 1s;
  width: 100%;
  will-change: transform;
  z-index: 3;
}

.more-works[aria-hidden="true"] {
  display: none;
}

.more-works--start {
  transform: translate3d(100%, 0, 0);
}

.more-works--pusher {
  transform: translate3d(-100%, 0, 0);
}

.more-works--hider {
  display: none;
}

.more-works--locker {
  overflow: hidden;
}