.profile-timeline {
  display: flex;
  justify-content: center;
  margin-top: 250px;

  @include media('>small') {
    margin-top: 275px;
  }

  @include media('>medium') {
    margin-top: 300px;
  }

  @include media('>large') {
    margin-top: 350px;
  }

  @include media('>xlarge') {
    margin-top: 400px;
  }
}

.profile-timeline__title {
  @include heading-gamma;
  text-align: center;
}

.profile-timeline__separator {
  align-self: center;
  filter: drop-shadow(1px 1px 0.5px rgba(0, 0, 0, 0.25));
  height: 600px;
  width: 40px;

  @include media('>medium') {
    width: 150px;
  }

  @include media('>large') {
    width: 300px;
  }

  @include media('>xlarge') {
    width: 400px;
  }
}

.profile-timeline__container {
  text-align: center;
}
