.section-one-person {
  bottom: -45%;
  height: 165%;
  margin-left: 50%;
  position: absolute;
  width: 50%;
  z-index: 1;

  @include media('>small') {
    bottom: -55%;
    height: 175%;
  }

  @include media('>medium') {
    bottom: inherit;
    height: 190%;
    margin-left: 0;
    position: static;
    width: 55%;
  }
}

.section-one-person__container {
  height: 100%;
  width: 100%;

  @include media('>medium') {
    margin-top: 20%;
  }
}

.section-one-person__img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: 30% 50%;
}
