.section-two {
  margin: 50px 0;
}

.section-two__container {
  @include media('>small') {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.section-two__title {
  @include heading-teaser;
  position: absolute;
  margin: 250px 0 0 35px;

  @include media('>small') {
    margin-top: 350px;
  }

  @include media('>large') {
    margin-top: 450px;
  }

  @include media('>large') {
    margin-top: 550px;
  }
}

.section-two__zigzag {
  bottom: -40px;
  left: 0px;
  position: absolute;
  width: 120px;
}
