.section-one-person {
  align-items: center;
  display: flex;
  height: 125%;
  justify-content: center;
  margin-left: 50%;
  position: absolute;
  width: 50%;
  z-index: 1;

  @include media('>medium') {
    justify-content: flex-start;
    margin-left: 0;
    position: static;
    width: 55%;
    height: 170%;
  }
}

.section-one-person__container {
  height: 100%;
  width: 100%;

  @include media('>medium') {
    margin-top: 5%;
  }
}

.section-one-person__img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: 30% 50%;
}
