.section-one-person {
  align-items: center;
  display: flex;
  height: 130%;
  justify-content: center;
  margin-left: 50%;
  position: absolute;
  width: 50%;
  z-index: 1;

  @include media('>medium') {
    justify-content: flex-start;
  }

  @include media('>xlarge') {
    margin-left: 55%;
  }
}

.section-one-person__img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: 25% 50%;
}
