.section-one__title {
  @include heading-alpha;
  margin-bottom: 10px;
}

.section-one__info {
  @include font-size-responsive($gamma);
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  left: 10vw;
  max-width: 500px;
  position: absolute;
  top: 5vh;
  z-index: 2;
}

.section-one__text {
  width: 50vw;
  max-width: 500px;
}

.section-one__person {
  position: absolute;
  top: 15vh;
  left: 60vw;
  z-index: 1;
}

.section-one__img {
  width: 150%;
}

.section-one__links {
  margin-top: 10px;
}
