.welcome-person {
  bottom: -45%;
  height: 165%;
  margin-left: 50%;
  max-height: 2300px;
  position: absolute;
  width: 50%;
  z-index: 1;

  @include media('>small') {
    bottom: -55%;
    height: 175%;
  }

  @include media('>medium') {
    bottom: inherit;
    height: 190%;
    margin-left: 0;
    position: static;
    width: 55%;
  }

  @include media('>large') {
    height: 210%;
  }

  @include media('>xlarge') {
    width: 70%;
  }
}

.welcome-person__container {
  height: 100%;
  width: 100%;

  @include media('>medium') {
    margin-top: 20%;
  }

  @include media('>medium') {
    margin-top: 25%;
  }

  @include media('>xlarge') {
    margin-top: 20vh;
  }
}

.welcome-person__img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: 30% 50%;

  @include media('>xlarge') {
    object-position: 50%;
  }
}
