.works-work {
  margin: 50px auto 0;
  padding: 20px;
  position: relative;
  width: 80%;
  z-index: 2;
}

.works-work--first {
  @include media('>small') {
    margin: 50px 0 0 0;
    margin-top: 20vh;
    width: 30%;
  }
}

.works-work--second {
  @include media('>small') {
    margin: 200px 0 0 0;
    margin-top: 60vh;
    width: 45%;
  }
}

.works-work--third {
  @include media('>small') {
    margin: 45px auto 0;
    margin-top: 30vh;
    width: 55%;
  }
}

.works-work__image {
  outline: 1px solid transparent;
  transition: outline .2s ease-out;
  width: 100%;
  will-change: outline;
}

.works-work__container:hover .works-work__image,
.works-work__container:active .works-work__image,
.works-work__container:focus .works-work__image {
  outline: 5px solid $primary;
}

.works-work__container {
  text-decoration: none;
}

.works-work__title {
  @include heading-beta;
  font-weight: 500;
  margin-top: -10px;
  max-width: 250px;
  width: 70%;

  @include media('>small') {
    margin-top: -15px;
  }
}

.works-work__title--first {
  position: absolute;
  right: 0;
  text-align: right;
}

.works-work__title--second {
  left: 0;
  position: absolute;
  text-align: left;
}

.works-work__title--third {
  left: 15%;
  position: absolute;
  text-align: center;

  @include media('>small') {
    left: 0;
    text-align: left;
    top: 30px;
  }
}
