<div class="welcome-info">
  <div class="welcome-info__container copy">
    <span>Hi I’m</span>
    <h1 class="welcome-info__title">Thibault<br>Jan Beyer</h1>
    <p class="welcome-info__text">an ambitious full-time designer and developer. Currently living, learning, working and playing in Cologne/Bonn, Germany.</p>
    <div class="welcome-info__links">
      <a href="#works" class="metalink welcome-info__link">
        <span class="sr-only">jumps down to section</span>works<!--
     --><svg xmlns="http://www.w3.org/2000/svg" role="img" class="internal-link" aria-labelledby="title_internal  desc_arrow_down"><!--
      --><title id="title_internal">internal link (same page)</title><!--
      --><desc id="desc_arrow_down">arrow pointing down</desc><!--
      --><use role="presentation" xlink:href="assets/svg/sprite.svg#internal-link"></use><!--
    --></svg><!--
   --></a>
      <a href="#profile" class="metalink welcome-info__link">
        <span class="sr-only">jump down to section:</span>profile<!--
     --><svg xmlns="http://www.w3.org/2000/svg" role="img" class="internal-link" aria-labelledby="title_internal  desc_arrow_down"><!--
      --><title>internal link (same page)</title><!--
      --><desc>arrow pointing down</desc><!--
      --><use role="presentation" xlink:href="assets/svg/sprite.svg#internal-link"></use><!--
    --></svg><!--
   --></a>
      <a href="#contact" class="metalink welcome-info__link">
        <span class="sr-only">jump down to section:</span>contact<!--
     --><svg xmlns="http://www.w3.org/2000/svg" role="img" class="internal-link" aria-labelledby="title_internal  desc_arrow_down"><!--
      --><title>internal link (same page)</title><!--
      --><desc>arrow pointing down</desc><!--
      --><use role="presentation" xlink:href="assets/svg/sprite.svg#internal-link"></use><!--
    --></svg><!--
   --></a>
      <a href="http://blog.thibaultjanbeyer.com/" class="metalink welcome-info__link">
        <span class="sr-only">leave page to:</span>blog
        <svg xmlns="http://www.w3.org/2000/svg" role="img" class="external-link external-link--text" aria-labelledby="title_external desc_arrow_outside">  
          <title id="title_external">external link (new window)</title>
          <desc id="desc_arrow_outside">square with arrow pointing outside</desc>
          <use role="presentation" xlink:href="assets/svg/sprite.svg#external-link"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
