<!-- more works nunjuck -->

<div class="more-works more-works--start" aria-hidden="true" id="more-works">
  <div tabindex="-1" data-a11y-dialog-hide></div>
  <div class="dialog-content" aria-labelledby="dialogTitle" aria-describedby="dialogDescription" role="dialog">
    <div role="document">

      <button type="button" data-a11y-dialog-hide class="button more-works__close" aria-label="Close this dialog window">
        &#8617;
      </button>

      <h2 id="dialogTitle" class="more-works__title copy">
        more works
        <svg xmlns="http://www.w3.org/2000/svg" role="presentation" aria-hidden="true" class="zigzag--small">
          <use xlink:href="assets/svg/sprite.svg#zigzag-small"></use>
        </svg>
      </h2>
      
      <p id="dialogDescription" class="more-works__description copy">
        see almost all works i’ve ever done here
      </p>

        {% for year, works in allWorks %}

          <h2 class="more-works__year">{{ year }}</h2>
          <div class="more-works__container">

            {% for work in works %}

              <div class="more-works-work">
                <a href="{{ work.url }}" target="_blank" class="more-works-work__container">
                  <img data-src="{{ work.src }}" alt="{{ work.alt }}" class="more-works-work__img">
                  <svg xmlns="http://www.w3.org/2000/svg" role="img" class="external-link external-link--img" aria-labelledby="title_external">
                    <title>external link (new window)</title>
                    <desc>square with arrow pointing outside</desc>
                    <use role="presentation" aria-hidden="true" xlink:href="assets/svg/sprite.svg#external-link"></use>
                  </svg>
                  <h3 class="more-works-work__title">
                    {{ work.title }}
                  </h3>
                </a>
              </div>

            {% endfor %}

          </div>

        {% endfor %}

    </div>
  </div>
</div>
