<!-- footer nunjuck -->

<footer class="footer" role="contentinfo">
  <span class="footer__social email">
     <svg xmlns="http://www.w3.org/2000/svg" role="img" class="footer__icon" aria-labelledby="title">
       <title>email icon</title>
       <use role="presentation" xlink:href="assets/svg/sprite.svg#email"></use>
     </svg>
     <a href="mailto:hi@thibaultjanbeyer.com" class="metalink copy" target="_blank">
       hi@thibaultjanbeyer.com
     </a>
   </span>
  <span class="footer__social twitter">
     <svg xmlns="http://www.w3.org/2000/svg" role="img" class="footer__icon" aria-labelledby="title">
       <title>twitter logo</title>
       <use role="presentation" xlink:href="assets/svg/sprite.svg#twitter"></use>
     </svg>
     <a href="https://twitter.com/ThibaultBeyer" class="metalink copy" target="_blank">
       @thibaultbeyer
     </a>
   </span>
  <span class="footer__social github">
     <svg xmlns="http://www.w3.org/2000/svg" role="img" class="footer__icon" aria-labelledby="title">
       <title>github logo</title>
       <use role="presentation" xlink:href="assets/svg/sprite.svg#github"></use>
     </svg>
     <a href="https://github.com/ThibaultJanBeyer" class="metalink copy" target="_blank">
       @thibaultjanbeyer
     </a>
   </span>
  <!--
   <span class="footer__social codepen">
     <svg xmlns="http://www.w3.org/2000/svg" role="img" class="footer__icon" aria-labelledby="title">
       <title>codepen logo</title>
       <use role="presentation" xlink:href="assets/svg/sprite.svg#codepen"></use>
     </svg>
     @thibaultjanbeyer
  </span>
  -->
  <p class="footer__copyright copy">All content by Thibault Jan Beyer unless noted otherwise.</p>
</footer>