<div class="profile-skills copy toggle--scope">
  <h3 class="profile-skills__title">
    Skills
  </h3>
  <p class="profile-skills__text">
    Beside being creative and able to design & develop anything you need, the most important thing I learned over the years is to learn how to learn. That is my major skill and the one I improve every day by being genuinely interested in challenges. It eintails beeing able to learn what ever is of use to solve your problem within an extremely short amount of time. That is why, I am confident to tackle anything, as long as I have fun doing it. However, I’ve put up <button class="button metalink toggle--button" type="button">a list of things I can do</button> if that answer is not satisfying enough
  </p>
  <div class="profile-skills__container toggle toggle--close">
    {% for title, skills in skills %}
    <div>
      <h4 class="profile-skills__subtitle">
        {{ title }}
      </h4>
      <ul class="profile-skills__list">
        {% for skill in skills %}
        <li class="profile-skills__text">{{ skill | safe }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  <h4 class="profile-skills__subtitle">Languages</h4>
  <p class="profile-skills__text">Fluent: German, French, English CAE C1 level</p>
  <p class="profile-skills__text">Learning: Japanese</p>
  <p class="profile-skills__text">Too long ago: Latin, Dutch Hebrew, Greek</p>
</div>
