<!-- profile nunjuck -->

<section id="profile" class="section profile">
  <h2 class="copy profile__title">
    Profile
    <img src="assets/img/zigzag.png" class="works__zigzag" alt="-">
  </h2>

  <div class="profile-story">
    <div class="profile-story__left">
      <p class="profile-story__text copy">
        The eagerness to learn and to produce the best user experience is the principle that guides my work
      </p>
    </div>
    <div class="profile-story__right">
      <div class="profile-story__img-container">
        <img src="assets/img/thibault-jan-beyer-painting.jpg" class="profile-story__img scroll scroll--permanent"
        data-scroll--speed="90" alt="Five year old brothers painting everywhere, even on the walls">
      </div>
    </div>
  </div>

  <div class="profile-timeline">
    
    {% for type, placements in allPlacements %}
    
    <div class="profile-timeline__container">
      <h3 class="profile-timeline__title">{{ type }}</h3>

      {% for placement in placements %}
      {% if placement.description %}
      <button class="profile-timeline-placement button toggle--button">
      {% else %}
      <div class="profile-timeline-placement">
      {% endif %}
        <img src="{{ placement.icon }}" alt="{{ placement.alt }}" class="profile-timeline-placement__icon">
        <h4 class="profile-timeline-placement__title">
          {{ placement.title }}
        </h4>
        <span class="profile-timeline-placement__info">
          {{ placement.info }}
        </span>
      {% if not placement.description %}
      </div>
      {% else %}
      </button>
      <ul class="profile-timeline-placement__list toggle toggle--close">
        {% for points in placement.description %}
          <li class="profile-timeline-placement__item">{{ points }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      
      {% endfor %}
      
    </div>
    
    {% if loop.first %}
      <img src="assets/img/zigzag_horizontal.png" alt="|" class="profile-timeline__separator">
    {% endif %}
    
    {% endfor %}
    
  </div>

</section>
