<!-- welcome nunjuck -->

<section id="welcome" class="section welcome">
      <div class="welcome-info">
        <div class="welcome-info__container copy">
          <span>Hi I’m</span>
          <h1 class="welcome-info__title">Thibault<br>Jan Beyer</h1>
          <p class="welcome-info__text">an aspiring fulltime designer and developer. Currently living, learning, working and playing in Cologne/Bonn, Germany.</p>
          <div class="welcome-info__links">
            <a href="#works" class="metalink welcome-info__link">
              <span class="sr-only">jumps down to section</span>works</a>
            <a href="#profile" class="metalink welcome-info__link">
              <span class="sr-only">jump down to section:</span>profile</a>
            <a href="#contact" class="metalink welcome-info__link">
              <span class="sr-only">jump down to section:</span>contact</a>
            <a href="http://blog.thibaultjanbeyer.com/" class="metalink welcome-info__link">
              <span class="sr-only">leave page to:</span>blog</a>
            <a href="assets/pdf/thibault-jan-beyer_pdf-portfolio.pdf" class="metalink welcome-info__link">
              <span class="sr-only">download</span> pdf&nbsp;portfolio
            </a>
          </div>
        </div>
      </div>

      <div class="welcome-person">
        <div class="welcome-person__container">
          <img id="thibault-img-main" src="assets/img/thibault-jan-beyer_9.jpg" class="scroll welcome-person__img" alt="Headless body holding a laptop with a picture of Thibault Jan Beyer’s on screen">
        </div>
      </div>
</section>
