<!-- contact nunjuck -->

<section id="contact" class="section contact">
  <h2 class="copy contact__title">
    Contact
    <!-- no aria because only a decorative element -->
    <svg xmlns="http://www.w3.org/2000/svg" role="presentation" aria-hidden="true" class="zigzag--small">
      <use role="presentation" xlink:href="assets/svg/sprite.svg#zigzag-small"></use>
    </svg>
  </h2>

  <div class="contact__container">
    {% include "partials/contact/contact-pic.html" %}
    {% include "partials/contact/contact-input.html" %}
  </div>

</section>
