<div class="contact-pic concact-pic--big">
  <div class="contact-pic__container writer scroll scroll--writer writer-question--close writer-question--open">
    <h3 class="contact-pic__title copy writer writer-question">
      Hi
    </h3><span id="liveName" class="contact-pic__livename"></span>
    <p class="contact-pic__text copy writer writer-question">
      Nice to meet you! I’m Thibault.
    </p>
    <p class="contact-pic__text copy writer writer-question writer-question--hidden">
      > How can I help you?
    </p>
    <p class="contact-pic__text copy writer writer-question writer-question--hidden">
      > Awesome! Just send it, I’ll write back as soon as possible!
    </p>
  </div>
</div>
