<div class="contact-pic">
  <div class="contact-pic__container writer writer-question writer-question--open">
    <h3 class="contact-pic__title copy">
      Hi<span id="name"></span>, nice to meet you!
    </h3>
    <p class="contact-pic__text copy writer writer-question">
      I’m tibo, what’s you name?
    </p>
    <p class="contact-pic__text copy writer writer-question writer-question--hidden">
      How can I help you?
    </p>
    <p class="contact-pic__text copy writer writer-question writer-question--hidden">
      Great! Oh... but wait, there is one more thing... what’s your email address?
    </p>
    <p class="contact-pic__text copy writer writer-question writer-question--hidden">
      Awesome! I’ll write back as soon as possible!
    </p>
  </div>
</div>
