<div class="contact-input">
  <form action="senden.html" id="contactForm">
    <label class="sr-only" form="contactForm">contact form:</label>
    <span>
      Hi thibault, 
      <label for="myName">
        my name is
      </label> 
      <input type="text" name="myName" id="myName">
    </span>
    <span>
      I... 
      <label for="myMessage">
        <span class="sr-only">enter your message</span>
      </label>
      <input type="text" name="myMessage" id="myMessage">
    </span>
    <span>
      Oh yes, sure. 
      <label for="myMail">
        My mail is
      </label>
      <input type="text" name="myMail" id="myMail">
    </span>
    <button type="button">Here you go <span class="sr-only">(info: clicking this button will open your local email client with all the infos pre-written, you’ll just have to send it)</span></button>
  </form>
</div>
