<!-- contact nunjuck -->

<section id="contact" class="section contact">
  <h2 class="copy contact__title">
    Contact
    <svg xmlns="http://www.w3.org/2000/svg" role="img" class="zigzag--small" aria-labelledby="title  desc">
      <title id="title">separation line</title>
      <desc id="desc">horizontal line in zigzag shape separating the content</desc>
      <use role="presentation" xlink:href="assets/svg/sprite.svg#zigzag-small"></use>
    </svg>
  </h2>

  <div class="contact__container">
    {% include "partials/contact/contact-pic.html" %}
    {% include "partials/contact/contact-input.html" %}
  </div>

</section>
