<div class="contact-input">
  <form id="contactForm" class="contact-input__form" action="javascript:void(0);">
    <label class="sr-only" form="contactForm">contact form:</label>
    <p class="contact-input__container">
      <label for="myName" class="writer writer-answer contact-input__label copy">
        Hi Thibault, my name is
      </label>
      <input type="text" name="myName" id="myName" class="contact-input__input">
      <button type="button" class="button contact-input__next writer--next">
         > 
        <span class="sr-only">(info: go to next input field)</span>
      </button>
    </p>
    <p class="contact-input__container writer writer-answer--hidden">
      <label for="myMessage" class="writer writer-answer contact-input__label copy">
        I just wanted to say...
      </label>
      <textarea name="myMessage" id="myMessage" class="contact-input__input"></textarea>
      <button type="button" class="button metalink contact-input__submit writer--next">Send <span class="sr-only">(info: mailto opens local email client with email, subject, message pre-written. You’ll just have to send it)</span></button>
    </p>
  </form>
</div>
