<div class="contact-pic">
  <div class="contact-pic__text">
    <h3 class="contact-pic__title">
      Hi <span id="name"></span>, nice to meet you!
    </h3>
    <p class="contact-pic__text" id="tibo-text1">
      I’m tibo, what’s you name?
    </p>
    <p class="contact-pic__text" id="tibo-text2">
      How can I help you?
    </p>
    <p class="contact-pic__text" id="tibo-text3">
      Great! Oh... but wait, there is one more thing... what’s your email address?
    </p>
    <p class="contact-pic__text" id="tibo-text3">
      Awesome! I’ll write back as soon as possible!
    </p>
  </div>
</div>
