<!-- index nunjucks -->

{% extends "layout.html" %}

{% block content %}

  <main class="site-content" id="main" aria-label="Content">

    <!-- Welcome -->
    {% include "partials/welcome/welcome.html" %}
    <!-- Works -->
    {% include "partials/works/works.html" %}
    <!-- Profile -->
    {% include "partials/profile/profile.html" %}
    {% include "partials/contact/contact.html" %}
    {% include "partials/footer.html" %}

  </main>

  {% include "partials/works/more-works.html" %}

{% endblock %}
