<div class="profile-timeline">
  {% for type, placements in allPlacements %}
  
  <div class="profile-timeline__container">
    <h3 class="profile-timeline__title copy">{{ type }}</h3>

    {% for placement in placements %}
    <div class="toggle--scope">
      {% if placement.description %}
      <button class="profile-timeline-placement button toggle--button" type="button">
      {% else %}
      <div class="profile-timeline-placement">
      {% endif %}
        <svg xmlns=http://www.w3.org/2000/svg role="img" class="profile-timeline-placement__svg" aria-labelledby="title  desc">
          <title id="title">{{ placement.icon-title }}</title>
          <desc id="desc">{{ placement.icon-description }}</desc>
          <use role="presentation" xlink:href="assets/svg/sprite.svg#{{ placement.icon }}"></use>
        </svg>
        <h4 class="profile-timeline-placement__title copy">
          {{ placement.title }}
        </h4>
        <span class="profile-timeline-placement__info copy">
          {{ placement.info }}
        </span>
      {% if not placement.description %}
      </div>
      {% else %}
      </button>
      <ul class="profile-timeline-placement__list toggle toggle--close">
        {% for points in placement.description %}
        <li class="profile-timeline-placement__item copy">{{ points | safe }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endfor %}
    
  </div>
  
  {% if loop.first %}
  <svg xmlns=http://www.w3.org/2000/svg role="img" class="profile-timeline__separator" aria-labelledby="title  desc">
    <title id="title">separation line</title>
    <desc id="desc">a vertical line in zigzag shape separating the content</desc>
    <use role="presentation" xlink:href="assets/svg/sprite.svg#zigzag-vertical"></use>
  </svg>
  {% endif %}
  
  {% endfor %}
</div>
