<div class="profile-story">
  <div class="profile-story__left">
    <p class="profile-story__text copy">
      The eagerness to learn and to produce the best user experience is the principle that guides my work
    </p>
  </div>
  <div class="profile-story__right">
    <div class="profile-story__img-container">
      <img src="assets/img/thibault-jan-beyer-painting.jpg" class="profile-story__img scroll scroll--permanent"
      data-scroll--speed="60" alt="Five year old brothers painting everywhere, even on the walls">
    </div>
  </div>
</div>
