<!-- profile nunjuck -->

<section id="profile" role="region" class="section profile" aria-labelledby="profile-title">
  <h2 id="profile-title" class="copy profile__title">
    profile
    <!-- no aria because only a decorative element -->
    <svg xmlns="http://www.w3.org/2000/svg" role="presentation" aria-hidden="true" class="zigzag--small">
      <use role="presentation" xlink:href="assets/svg/sprite.svg#zigzag-small"></use>
    </svg>
  </h2>

  {% include "partials/profile/profile-story.html" %}
  {% include "partials/profile/profile-timeline.html" %}
  {% include "partials/profile/profile-skills.html" %}

</section>
