<!-- @TODO make this section accessible (: hide the lists for screenreader if they are closed) -->
<div class="profile-skills copy toggle--scope">
  <h3 class="profile-skills__title">
    skills
  </h3>
  <p class="profile-skills__text">
    Besides being creative and able to design & develop anything, the most important thing I learned over the years is to learn how to learn. That is what I improve every day by being genuinely interested in challenges. It entails being able to learn whatever is of use to solve your problem within a short amount of time. That is why I am confident to tackle anything. However, I still put up a list of <button class="button metalink toggle--button" type="button">things I can do</button>
  </p>
  <div class="profile-skills__container toggle toggle--close">
    {% for title, skills in skills %}
    <div>
      <h4 class="profile-skills__subtitle">
        {{ title }}
      </h4>
      <ul class="profile-skills__list">
        {% for skill in skills %}
        <li class="profile-skills__text">{{ skill | safe }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  <h4 class="profile-skills__subtitle">languages</h4>
  <p class="profile-skills__text">Fluent: German, French, English CAE C1 level</p>
  <p class="profile-skills__text">Learning: Japanese</p>
  <p class="profile-skills__text">Too long ago: Latin, Dutch, Hebrew, Greek</p>
</div>
