<!-- profile nunjuck -->

<section id="profile" class="section profile">
  <h2 class="copy profile__title">
    Profile
    <svg xmlns="http://www.w3.org/2000/svg" role="img" class="zigzag--small" aria-labelledby="title  desc">
      <title id="title">separation line</title>
      <desc id="desc">horizontal line in zigzag shape separating the content</desc>
      <use role="presentation" xlink:href="assets/svg/sprite.svg#zigzag-small"></use>
    </svg>
  </h2>

  {% include "partials/profile/profile-story.html" %}
  {% include "partials/profile/profile-timeline.html" %}
  {% include "partials/profile/profile-skills.html" %}

</section>
